body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}

.dataBox {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.315);
  border-radius: 2px;
  padding: 20px;
  margin: 20px;
  margin-top: 0px;
  box-sizing: border-box; 
}

.show {
  display: block;
}

#container {
  border: 0px solid black;
  padding: 20px;
}

#romUploader {
  border: 0px solid black;
  padding: 20px;
}

#status {
  padding: 20px;
}